.contact {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 13.5rem;
    padding-bottom: 16rem;
    border-bottom: 0.1rem solid $darkgrey;

    @media all and (max-width: 650px) {
        padding: 7rem 1.5rem 0px 1.4rem;
    }

    &__paragraph {
        width: 100%;
        max-width: 57rem;
        text-align: center;
        font-weight: $fw-2;
        margin-bottom: 3.2rem;
    }

    &__form {
        display: flex;
        width: 100%;
        justify-content: center;

        @media all and (max-width: 650px) {
            flex-direction: column;
            align-items: center;
            padding-bottom: 6.4rem;
        }
    }

    &__form-input {
        width: 100%;
        max-width: 37rem;
        margin-right: 3rem;
        border: 0.1rem solid $tsgrey;
        padding: 1.2rem 1.6rem;
        font-size: $fs-2;

        @media all and (max-width: 650px) {
            margin-bottom: 1.6rem;
            margin-right: 0;
        }
    }

    &__form-btn {
        background-color: $pink;
        color: $white;
    }
}