.end {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-image: url("./img/Contact_background.png");
    background-size: cover;

    @media all and (max-width: 650px) {
        padding-top: 0;
    }
}