// font-size //

$fs-1: 1.4rem;
$fs-2: 1.6rem;
$fs-3: 1.8rem;
$fs-4: 2rem;
$fs-5: 2.4rem;
$fs-6: 2.7rem;
$fs-7: 3rem;
$fs-8: 4rem;
$fs-9: 5.6rem;
$fs-10: 6rem;
$fs-11: 7.2rem;

// colors //

$lightgrey: rgba(255, 255, 255, 0.2951);
$tlwhite: rgb(255, 255, 255, 0.5);
$blue: rgba(48, 35, 174, 1);
$gold: rgba(255, 195, 0, 1);
$black: rgba(51, 51, 51, 1);
$pink: rgba(200, 109, 215, 1);
$white: rgba(255, 255, 255, 1);
$mediumgrey: rgba(51, 51, 51, 0.5);
$whitepink: rgb(253, 242, 255, 1);
$darkgrey: rgba(0, 0, 0, 0.103);
$tsgrey: rgba(218, 218, 218, 1);

// font-weight //

$fw-1: 400;
$fw-2: 600;
$fw-3: 700;